body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

#app {
    height: 100%;
    width: 100%;

    min-height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;

    background: rgb(13, 36, 69);
    background: linear-gradient(180deg, rgba(13, 36, 69, 1) 0%, rgba(36, 39, 42, 1) 22%);
    
    align-items: flex-start;
    justify-content: flex-start;
}